* {
    box-sizing: border-box

}
#seconddivision {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    color: rgb(77, 136, 170);
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(147, 212, 255) 50%, rgb(13, 158, 255) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

#email {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 12px;
    background-color: #6051ff;
}

.firstdivision {
    width: 500px;
    height: 50%;
    overflow: hidden;
    margin: 50px auto;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(198, 216, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
#username {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
}

#password {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
}

#email {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
}

#repeated_password {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    border-radius: 25px;
    color: rgb(249, 250, 253);
}


.register {
    background-color: #2c4db8;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 14px 40px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
    float: right;
    width: 50%;
}
#login_page_path{
    text-decoration:none;
    color:#2c4db8;
    transition: 0.3s;
}
#login_page_path :hover{
    opacity: 1;
    background-color:#9fceee;
}
#login_page_path :active{
    color: black;
}
#login_page_path :visited{
    text-decoration:underline;
    color: rgb(255, 0, 0);
}


@keyframes slide {
    
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}


