* {
    box-sizing: border-box
}

#seconddivision {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(147, 212, 255) 50%, rgb(13, 158, 255) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.firstdivision {
    width: 500px;
    height: 50%;
    overflow: hidden;
    margin: 50px auto;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(164, 255, 235);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#email, #username, #password {
    width: 100%;
    padding: 20px;
    margin: 5px 0 50px 0;
    display: inline-block;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    border-radius: 25px;
    color: rgb(44, 9, 201);
}

.login {
    background-color: #2c4db8;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 14px 40px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
    float: right;
    width: 50%;
}

#login_page_path {
    text-decoration: none;
    color: #2c4db8;
    transition: 0.3s;
}

#login_page_path :hover {
    opacity: 1;
    background-color: #9fceee;
}
#login_page_path :active {
    color: black;
}

#login_page_path :visited {
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

nav {
    color: #780fce;
    float: right;
    margin: 30px, 90px;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    padding: 5px 10px;
    transition: .3s;
    font-size: 20px;
    font-family: monospace;
}

nav ul li:hover {
    height: 45px;
    padding-top: 30px;
    margin-top: -30px;
    text-decoration: none;
    transform: skew(0deg);
}

nav ul li:hover a {
    background: #95FCFF;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
}

#to_main_page {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 20px;
    font-family: monospace;
}

#to_main_page a {
    text-decoration: none;
    color: white;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}
