.Appx {
    border: 1px solid gray;
    padding: 8px;
    background-color:#edecf3;
  }
  
  p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #5c46da;
    text-indent: 50px;
    letter-spacing: 3px;
  }
