#logo{
    font-family:monospace;
    color:white;
    font-size: 30px;
}
#home{
    font-family:cursive;
    font-style: italic;
    color:white;
    left: 10%;
}
#title-1 {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color:white;
    font-family: monospace;
    
}
#title-2 {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color:white;
    font-family: monospace;
    font-size:50px;
}
#title-3{
    margin: 0;
    position: absolute;
    top: 42%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color:white;
    font-family: monospace;
    font-size:50px;
}
#first{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color:white;
    font-family: monospace;
    font-size:20px;
}
#twitter{
    padding-top: 40px;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
   
}
#twitter img {
    display:block;
    height: 70px;
    width: 70px;
}
#twitter .img-2 {
    display: none;
    position: absolute;
    margin: 0;
    padding-top: 20px;
    height: 70px;
    width: 70px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
}
#twitter:hover .img-2 {
    display: block;
}
#instagram{
    padding-top: 40px;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#instagram img {
    display: block;
    height: 70px;
    width: 70px;
}
#instagram .img-2 {
    display: none;
    position: absolute;
    margin: 0;
    padding-top: 20px;
    height: 70px;
    width: 70px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
}
#instagram:hover .img-2 {
    display: block;
}
#youtube{
    padding-top: 40px;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#youtube img {
    display: block;
    height: 70px;
    width: 70px;
}
#youtube .img-2 {
    display: none;
    position: absolute;
    margin: 0;
    padding-top: 20px;
    height: 70px;
    width: 70px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
}
#youtube:hover .img-2 {
    display: block;
}
#checkboxes{
    padding-top: 40px;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#searchbox{
    padding-top: 40px;
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
}
#search-button {
    
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background: linear-gradient(-45deg,#ff9b9b,#eabffa,#3db8ff);
    top:0;
    bottom:0;
    position:fixed;
    background-size: 100%, 100%;
    animation: gradient 15s ease infinite;
    background-size: cover;
}
header{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
nav{
    color: #780fce;
    float: right;
    margin: 30px, 90px;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    padding: 5px 10px;
    transition: .3s;
    font-size : 20px;
    font-family: monospace;
}
nav ul li:hover{
    height:45px;
    padding-top:30px;
    margin-top:-30px;
    
    text-decoration: none;
    transform : skew(0deg);
    
}
nav ul li:hover a{
    background:#c8f1fc;
    text-decoration: none;
}
.vertical_lines {
    width: 2px;
    border-left: 2px solid gray;
    height: 30px;
  }
